---
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.VAList,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-reserved-identifier,
  performance-*,
  portability-*
WarningsAsErrors: '*'
FormatStyle: file
...
